<div class="container col s8">
    <div class="row">
      <nav>
        <div class="nav-wrapper">
          <div class="col s8">
            <h3 class="brand-logo col s8">Modificar datos de persona</h3>
          </div>
        </div>
      </nav>
  
    </div>
    <form [formGroup]="fgValidador" (ngSubmit)="EditarPersona()" class="col s14">
      <div class="row">
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">contacts</i>
          <input formControlName="nombres" id="nombres" type="text" class="validate">
          <label class="active" for="nombres">Nombres</label>
        </div>
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">contacts</i>
          <input formControlName="apellidos" id="apellidos" type="text" class="validate">
          <label class="active" for="apellidos">Apellidos</label>
        </div>
      </div>
      <div class="row">
        
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">email</i>
          <input formControlName="correo" id="correo" type="email" class="validate">
          <label class="active" for="correo">Correo electrónico</label>
        </div>

        <div class="input-field hoverable col s6">
            <i class="material-icons prefix">phone_android</i>
            <input formControlName="telefono" id="telefono" type="tel" class="validate">
            <label class="active" for="telefono">Teléfono móvil</label>
          </div>

      </div>
           

        
        <div class="col-md-12">            
         
            <button [disabled]="!fgValidador.valid" type='submit'  name='btn_login' class="btn waves-effect waves-light ">
                Actualizar
                <i class="material-icons right">done</i>
            </button>         
         
        </div>
        <br>
        <br>
    
      
     
    </form>
  
</div>
     