<footer class="page-footer #424242 grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Desarrollo de Aplicaciones Web</h5>
          <p class="grey-text text-lighten-4">Versión implementada a partir de los vídeos de Moodle. Módulo 6 - Vídeo 1</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Enlaces</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://misiontic.ucaldas.edu.co/">Misión TIC 2022-U de Caldas</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.misiontic2022.gov.co/portal/">Misión TIC 2022-MinTIC</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/Luis6omez7rujillo/app-pedidos-backend">Repositorio GitHub</a></li>
            <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Luis Alfonso Gómez Trujillo-Todos los derechos reservados
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>